<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Codebun</title>
</head>
<body style="background-color: #f0f4c3">
<form th:action="@{/save}" th:object=${person}>
  <div style="font-size: large;" align="center" th:text=${getdata}></div>
  <div align="center" >
    <h3 align="center">current unit price is</h3>
    <span> <span th:text="${priceOutPutDto.currencySymbol}"></span>
     &nbsp; <span th:text="${priceOutPutDto.getCryptoPrice}"></span></span> </span><br>
  </div>
</form>
</body>
</html>